<nav class="ui stackable menu">
  <header class="ui header item"> <a href="/"> Playlist App </a></header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About  </a>
    <a id="statistics" class="item" href="/stats"> Statistics  </a>
  </div>
</nav>

<script>
 const selectedMenuItem = document.querySelector("#{{id}}");
 if (selectedMenuItem) {
   selectedMenuItem.classList.add("active");
 }
</script>
